@import "tailwindcss";

:root {
  --bg: #ffffff;
  --fg: #171717;
  --card: #ffffff;
  --border: #e5e7eb;
}

.dark {
  --bg: #0b0b0b;
  --fg: #ededed;
  --card: #111827;
  --border: #1f2937;
}

body {
  background-color: var(--bg);
  color: var(--fg);
  font-family: ui-sans-serif, system-ui, sans-serif;
}




